.project {
  max-width: 1500px;
  width: 100%;
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project h2,
.project p {
  text-align: center;
  color: #fff;
}

.project_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.project_card {
  width: 45%;
  border: 2px solid var(--main-color);
  position: relative;
}
.project_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.project_card div {
  position: static; /* FIX */
  padding: 15px;
  color: #fff;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 50px;
  background: #000;
}
.project_card p {
  text-align: start;
  gap: 30px;
}
.project_card h4 {
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 10px;
  color: var(--shadow-color);
  animation: neonPulse 1.6s ease-in-out infinite;
}
@keyframes neonPulse {
  0% {
    filter: drop-shadow(0 0 6px var(--shadow-color));
  }
  50% {
    filter: drop-shadow(0 0 18px var(--shadow-color))
      drop-shadow(0 0 30px var(--shadow-color));
  }
  100% {
    filter: drop-shadow(0 0 6px var(--shadow-color));
  }
}
.project_card:hover {
  color: var(--shadow-color);
  animation: neonPulse 1.6s ease-in-out infinite;
}
.project_card a {
  color: #dddddd;
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 8px;
  width: 130px;
  color: rgb(237, 67, 246);
  border: 1px solid var(--shadow-color);
}
.project_card a:hover{
  color: var(--shadow-color);
   width: 45%;
  animation: neonPulse 1.6s ;
}
.read-more-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px; /* Creates space between text and icon */
  text-decoration: none;
  color: #d000ff;
  font-weight: 600;
  transition: all 0.3s ease;
}

@media (max-width:1200px){
  .project_card{
    width: 80%;
  }

}
@media (max-width:768px){
  .project_card{
    width: 100%;
  }
  
}