.contact{
    max-width: 1500px;
    width: 100%;
    padding: 80px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color:#fff;
}
.contact h2{
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid var(--main-color) ;
    display: inline-block;
}
.contact p{
    width: 90%;
    margin-top: 22px;
}
form {
    width: 45%;
    display: flex;
    flex-direction:column ;
    gap: 16px;
    border: 2px solid #e50ecc;
    padding: 60px 30px ;
    box-shadow: 2px 8px 16px var(--main-color);
}
form input{
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 8px;
    outline: none;
    border: none;
    border:1px solid;
}
form input:hover, form input:focus{
    box-shadow: 0 8px 16px var(--shadow-color);
    border: 1px solid var(--main-color);
}

@media (max-width:1000px){
    .contact{
        flex-direction: column;
    }
    .contact div{
        width: 100%;
    }
    form{
        width: 100%;
    }
}