.footer {
  width: 100%;
  background: #190f1a;
  padding: 80px 8%;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  gap: 40px;
}
.heroName {
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(90deg, #f1bef5, #f01180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

/* LEFT */
.left h1 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: left;
}

/* CONTACT LINKS */
.contact a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ccc;
  text-decoration: none;
  transition: 0.3s ease;
  margin-bottom: 15px;
}

.contact a:hover {
  color: #7c3aed;
  text-shadow: 0 0 8px #7c3aed;
}

/* SOCIAL ICONS */
.social a {
  transition: 0.3s ease;
  gap: 20px;
  height: 50px;
  width: 50px;
  font-size: 28px;
  border-radius: 50%;
  border: 1px solid var(--shadow-color);
  color: var(--main-color);
  margin: 10px;
  margin-top: 10px;
}
.socal:before {
  content: "";
  position: absolute;
  inset: -6px;
  border-radius: 50%;
  background: var(--shadow-color);
  filter: blur(12px);
  opacity: 0;
  transition: 0.3s ease;
  z-index: -1;
}
.footer .middle ul a:hover{
     color: #d80808;
     filter: drop-shadow(0 8px 4px var(--shadow-color));
}
.footer .right ul a:hover{
    color: #d80808;
    filter: drop-shadow(0 8px 4px var(--shadow-color));
}
.social a:hover {
  color: #fff;
  box-shadow:
    0 0 10px var(--shadow-color),
    0 0 25px var(--shadow-color),
    0 0 40px var(--shadow-color);
  transform: translateY(-4px) scale(1.05);
}
.middle h4{
    font-size: 24px;
  font-weight: 300;
  background: linear-gradient(90deg, #f1bef5, #f01180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right h4{
    font-size: 24px;
  font-weight: 300;
  background: linear-gradient(90deg, #f1bef5, #f01180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* MIDDLE & RIGHT */
.middle h3,
.right h3 {
  margin-bottom: 15px;
  white-space: nowrap;
}

.middle ul,
.right ul {
  list-style: none;
  padding: 0;
}
.middle li,
.right li {
  margin-bottom: 10px;
}
.middle a,
.right a {
  color: #ccc;
  text-decoration: none;
}
.middle a:hover,
.right a:hover {
  color: #7c3aed;
}
/* MOBILE */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    text-align:left;
  }

  .social {
    justify-content: left;
  }

  .contact p {
    justify-content: left;
  }
}
@media (max-width: 500px) {
  .container {
    grid-template-columns:repeat(1,1fr) ;
    text-align: left;
  }

  .social {
    justify-content: left;
  }

  .contact p {
    justify-content: left;
  }
}