@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
  --main-color: #641e62;
  --text-color: #fff;
  --text-color-2: #d16df9;
  --shadow-color:#b339ff;

}
body {
  background-color: rgb(3, 1, 3);
}

button {
  width: 150px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  transition: -6s;
}
button:hover {
  box-shadow: 0 5px 16px var(--main-color);
  color: #fff;
  transform: translateY(-5px);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
